Package: com.alexburneikis.complicationsfixfix
Name: complicationsfixfix
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Alexander Burneikis
Author: Alexander Burneikis
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
